*.iml
.idea/misc.xml
.idea/modules.xml
.idea/tomlui2010.github.io.iml
.idea/workspace.xml
# Dependencies
node_modules/

# Environment Variables
.env
.env.local

# Build Outputs
dist/
build/
.cache/

# OS Metadata
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-error.log*
